<div class="p-4 !block w-full h-full">

  <div class="bg-white rounded-md overflow-hidden p-4 ">
    <div class="mb-3 border-b w-full">
      <a class="inline-flex items-center leading-6 text-primary hover:underline" [routerLink]="['..']">
        <span class="inline-flex items-center">
          <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:arrow-small-left'"></mat-icon>
          <span class="ml-1.5 font-medium leading-5">Back</span>
        </span>
      </a>
    </div>
    <div class="flex-auto">

      <div class="grid grid-cols-12 gap-4">

        <div class="col-span-12">
          <div class="text-xl font-semibold leading-tight">Most beautiful and quite places to see</div>
        </div>

        <div class="col-span-5">
          <div class="rounded-md overflow-hidden mb-4">
            <img class="object-cover" src="assets/images/cards/03-320x200.jpg" alt="Card cover image">
          </div>
          <p>
            as its primary user interface library. It offers form controls,
            buttons, tabs, sidebars, icons, modals, tooltips, data tables and many more well tested and
            widely used components.
          </p>
        </div>
        <div class="col-span-7">
          <div class="max-w-4xl prose prose-sm">

            <p>
              as its primary user interface library. It offers form controls,
              buttons, tabs, sidebars, icons, modals, tooltips, data tables and many more well tested and
              widely used components.
            </p>
            <p>
              Even though Fuse doesn't follow Google's Material design specifications, Angular Material
              is one of the best Angular component libraries out there and since it's developed and maintained
              by Google itself, it offers the best compatibility and support for Angular.
            </p>
            <p>
              Fuse is 100% compatible with all Angular Material components.
            </p>

            <h2>Component examples and API documentation</h2>
            <p>
              Following, you can find links to the official documentation. Click on the component you want to
              learn more about and it will redirect you to the related section of the official documentation.
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
